body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #EC3E6C;
    color: aliceblue;;
    height: 680px;
    font-family: 'Ubuntu', sans-serif;

}

img[alt~='iphone-mockup']{
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;

}

#features{
   text-align: center;
    padding: 10% 3% 10% 3%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    position: relative;
}

div.col-sm-4.features-card{
 padding: 40px;
}

#features i{
    color:  #EC3E6C;
}
#testimonials, #press{
    padding: 3%;
    background-color: #E27675;
    text-align: center;
}
#press img{
    padding: 10px;
}
#pricing{
    /*text-align: center;*/
    font-family: 'Montserrat', sans-serif;

}
