body{
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-color: #EC3E6C;
    color: aliceblue;;
    height: 680px;
    font-family: 'Ubuntu', sans-serif;

}

img[alt~='iphone-mockup']{
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
    position: absolute;

}

#features{
   text-align: center;
    padding: 10% 3% 8% 3%;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    position: relative;
}

div.col-sm-4.features-card{
 padding: 40px;
}
#testimonials img{
    width: 15%;
}

#features i{
    color:  #EC3E6C;
}
#testimonials, #press,  #cta{
    padding: 3%;
    background-color: #E27675;
    text-align: center;
}
#press img{
    padding: 10px;
}

#cta{
   background-color:  #EC3E6C;
    padding: 3%;
}
#cta h3{
    width: 50%;
  margin: auto;
    padding: 5% 0 3% 0 ;
    font-family: 'Ubuntu', sans-serif;
}